/*
!/.bash_aliases
!/.bashrc
!/.gitconfig
!/.gitignore
!/.gnupg
/.gnupg/*
!/.gnupg/gpg.conf
!/.mutt
/.mutt/aliases
/.mutt/muttrc
/.mutt/signature
!/.profile
!/.vim
/.vim/*
!/.vim/filetype.vim
!/.vim/syntax/
!/.vimrc
