/*
!/.bash_aliases
!/.bashrc
!/.gitconfig
!/.gitignore
!/.gnupg
/.gnupg/*
!/.gnupg/gpg.conf
!/.profile
!/.vim
/.vim/*
!/.vim/filetype.vim
!/.vim/spell
/.vim/spell/*
!/.vim/spell/*.add
!/.vim/syntax/
!/.vimrc
